@font-face {
    font-family: "BitterPro-Black";
    font-style: normal;
    font-weight: 400;
    src: local("BitterPro-Black"),
    url("/fonts/BitterPro-Black.woff2") format("woff2"),
    url("/fonts/BitterPro-Black.ttf") format("ttf");
}
.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "BitterPro-Black", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3f0ff;}
.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    z-index: 2;
    text-align: center;
    position: relative;
}
.image {
	height: 100%;
	width: 100%;
	background: url(./img/pet-butylki.jpg) 0px 0px no-repeat;
	background-size: cover;
    opacity: 1;
}
.image:hover {
    color: blue;
    opacity: 0.8;
    transition: 2s;
}

.header__image {
    z-index: 5;
}
.header__title {
    font-weight: 400;
    line-height: 80px;
    font-size: 96px;
    z-index: 1;
}
.header__subtitle {
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}
.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.table__heading-first {
    text-align: center;
    font-size: 80px;
}
.table__heading {
    align-self: center;
}
.table__cell {
    width: 525px;
    height: 625px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 60px;
}
.table__image {
    width: 300px;
    height: 320px;
    background-image: #e3f0ff;
    margin: 0;
    align-self: center;
}
.table__title {
    width: 200px;
    margin: 0;
    align-self: center;
}
.program {
    display: flex;
}
.section__headers {
    display: flex;
    justify-content: space-around;
}
.header__title-small {
    font-weight: 400;
    line-height: 64px;
    font-size: 80px;
    text-align: center  ;
}
.section__number-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-item {
  width: 350px;
  padding-left: 30px;
}
.footer {
    overflow: hidden;
    margin-top: 50px;
    min-height: 150px;
    width: 1903px;
    box-sizing: border-box;
    background: #1F1F1F;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.footer__author {
    color: #fff;
    background-color: #1F1F1F;
    padding-left: 24px;
}
.grinpeace {
    text-decoration: none;
    color:rgb(61, 219, 13);
}
.grinpeace:hover {
    opacity: 0.5;
}

.itc-slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .itc-slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .itc-slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}